<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>777261456251-87qh4rcjcduhls35qsngb82qc7rndnpg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777261456251-87qh4rcjcduhls35qsngb82qc7rndnpg</string>
	<key>API_KEY</key>
	<string>AIzaSyCSRBEttIzcQih6gXjyjjcE0_j5ZNNHhZY</string>
	<key>GCM_SENDER_ID</key>
	<string>777261456251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mis</string>
	<key>PROJECT_ID</key>
	<string>chatrocket-b28fd</string>
	<key>STORAGE_BUCKET</key>
	<string>chatrocket-b28fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777261456251:ios:205244213ddf4226e0fbde</string>
</dict>
</plist>